.main{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-top: 1rem;
}

.players{
    margin: 0rem 1rem;
    text-align: center;
    font-size: 3rem;
    font-family: cursive ;
}

.result{
    color: red;
    text-align: center;
}

